//ff
$ff-pt-root: "PT Root UI", "Arial", sans-serif;
$ff-bebas-neue: "Bebas Neue", "Verdana", sans-serif;
$ff-rubik: "Rubik", "Tahoma", sans-serif;

//pallete
$ebony-clay: #2d3242;
$bluewood: #2f4353;
$waterloo: #818798;
$nevada: #687078;
$manatee: #95979f;
$ghost: #ced1d8;
$mischka: #d3d6dd;

$egg-blue: #01b9c5;
$dodger-blue: #2d97f9;
$sunset-orange: #fd4d35;

$haze: #f5f7f7;
$white: #ffffff;
$black: #000000;

//vp
$desktop: 991px;