.header {
  background-color: $white;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 10px 0;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    p {
      line-height: 130%;
    }
  }

  @media (min-width: $desktop) {
    padding: 0;
    &__container {
      gap: 15px
    }

    p {
      font-size: 30px;
      font-weight: 700;
    }
  }
}